<div class="container-fluid page-container">
  <div class="row">
    <div class="col-md-8">
      <h3>{{ parlourDetails?.businessTitle | uppercase  }}</h3>
      <span class="text-span">{{parlourDetails?.businessSlogan | uppercase}} | </span>
      <span class="text-span" > {{parlourDetails?.businessContact != undefined ? "+92 " + parlourDetails?.businessContact : 'Contact Not Avialable'}} </span>
      <p class="text-paragraph">
         {{parlourDetails?.businessShortDescription != undefined ?  parlourDetails?.businessShortDescription : 'Description Not Avialable From Parlour'}} 
      </p>
    </div>
    <div class="col-md-4 bg-white p-3">
      <h5 class="text-primary"> Our Services </h5>
      <span class="text-span">We {{parlourDetails?.businessTitle | uppercase}}, {{parlourOfferingServices.length > 0 ? ' are currently offering best services' : ' currently there are no services'}}</span>
      <hr>
      <div *ngIf="parlourOfferingServices.length > 0; else servicesNotFound" class="container-fluid">
         <div *ngFor="let service of parlourOfferingServices" class="row">
          <h3>{{ service.title }}</h3>
         </div>
      </div>
      <ng-template #servicesNotFound>
        <p class="text-center">Dear visitor, very soon parlour owner will post services.</p>
      </ng-template>
    </div>
  </div>
</div>