<div class="container-fluid p-3 page-container">
  <div class="row ms-auto ">
    <div class="col-md-3" style="border: 1px solid white; background-color: white;">
     <app-parlour-side-filter></app-parlour-side-filter>
    </div>
    <div class="col-md-8 mx-3 p-3 bg-light">
      <h5 class="text-muted" #parlourCount>PARLOURS RESULTS ({{totalSize$ | async}})</h5>
      <p style="font-size:12px;" class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      <hr/>
      <div class="mb-3">
          <input type="text" class="search-input-filter" placeholder="Search parlour by title or contact..." pInputText #searchParlour/>
      </div>
      <ng-container *ngIf="allParlours.length > 0; else recordNotFound">
        <ng-container *ngFor="let parlour of allParlours | searchParlours: searchParlour.value">
           <app-parlour-card *ngIf="parlour.message == undefined; else recordNotFound" [parlourCardDetails]="parlour"></app-parlour-card>
        </ng-container>
        <div *ngIf="loadMoreBtn" class="flex justify-content-center">
             <p-button id="load-more-btn" label="Load More" [loading]="loading" (onClick)="load()"></p-button>
        </div>
        <p *ngIf="hasNoMoreItems" class="text-center text-danger">NO MORE ITEMS</p>
      </ng-container>
      <ng-template #recordNotFound>
        <h5>Record not found</h5>
      </ng-template>
    </div>
  </div>
</div>