img{
    float: left;
    /* transform: -50px; */
    stroke: black;
  
    
}
.Welcome{
    color: #1E2C30;
    font-weight: bold;
    font-size: larger;
}
#heading{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
} 
div #slogan{
   text-align: center;
   /* border: 2px solid black; */
   width: 450px;
   height: 250px ;
   padding: 5%;
   margin-top: 00px;
  
}
#banner{
    background: linear-gradient(to right, #d8e0e5 60%, #1E2C30 50%);
}
/* #image{
border: 5px solid white;
padding: 5px;

} */
