<!-- <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/imgs/Background.png" class="d-block w-100" alt="...">
    </div> -->
<section>
  
<div class="modal-body">
  <div class="container-fluid" id="banner">
    <div class="row">
      <div class="col-md-6" >
        <div id="slogan">
          <p class="Welcome">✵ Welcome to GlamZone !</p>
          <h3 id="heading">Beauty is a power the smile is it's sword.</h3>
          <p class="Welcome">You are on the top rated plattform. We have the variety of Parlours here you go ahead for more inspirations.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 ms-auto">
        <div id="image"><img src="../../../../assets/imgs/Image.png" alt=""></div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- end banner -->
	
<section class="section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2><span>Our Services</span></h2>
          <p>Our product is fully personalized and well balanced for all age of customers or adults. We maintain the standards by lorem ipsum and certified by dolor set amet.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-item wow fadeIn">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/imgs/Facial.jpg" class="card-img-top" alt="Hydra Facial">
            <div class="card-body">
              <h5 class="card-title">Hydra Facial</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="service-item wow fadeIn">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/imgs/hair cutting.jpg" class="card-img-top" alt="Hydra Facial">
            <div class="card-body">
              <h5 class="card-title">Hair Cutting</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="service-item wow fadeIn">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/imgs/bridle.jpg" class="card-img-top" alt="Hydra Facial">
            <div class="card-body">
              <h5 class="card-title">Bridle Makeup</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="services.html" class="btn btn-primary">All Services</a>
      </div>
    </div>
  </div>
<!-- </section> -->
<!-- end services -->