<div class="container-fluid p-3">
    <div class="row">
    </div>
    <div class="row p-1">
      <div class="col-md-3 card p-1">
        <app-job-side-filter></app-job-side-filter>
      </div>
      <div class="col-md-8 mx-3 p-3 bg-light">
        <h5 class="text-muted">JOBS RESULT (0)</h5>
        <p style="font-size:12px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div *ngFor="let item of [1,2,3]" class="card mb-3">
          <app-job-card></app-job-card>
        </div>
        <div class="mx-auto">
          <p-button label="LOAD MORE JOBS" [loading]="loading" (onClick)="load()"></p-button>
        </div>
      </div>
    </div>
</div>