#company-title{
    text-decoration: none;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: none;
}

p-chips{
    width: 100%;
}

input[pInputText]{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 0% !important;
    box-shadow: none;
}
