<div class="container bg-white">
  <div class="row">
    <div class="col-md-4 p-3">
      <div>
        <img width="100%" class="img-responsive" src="../../../../assets/imgs/profile-placeholder.png" />
      </div>
    </div>
     <div class="col-md-8 p-3">
      <div class="bg-light p-3">
        <h5 class="text-danger">{{ 'Saeed Ahmed' | uppercase}}</h5>
        <p style="margin-top: -8px; font-size: 16px;" class="text-primary">{{ 'Sheikh' | uppercase}}</p>
        <p class="text-muted" style="margin-top: -20px;">+92 30003120320 | saeed@gmail.com</p>
        <button (click)="editProfile()" type="button" class="btn btn-sm btn-danger">EDIT PROFILE</button>
      </div>
    </div>
  </div>
</div>