<div class="m-3 p-3">
  <h6 class="text-danger">Jobs Duration</h6>
  <p class="text-muted">We are delivering flexible durations for job.</p>
  <ul class="list-group" >
    <li class="list-group-item" style="border: none;">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <span class="text-muted">Part Time</span>
    </li>
    <li class="list-group-item" style="border: none;">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <span class="text-muted">Part Time</span>
    </li>
  </ul>
</div>
<div class="m-3 bg-light p-3">
  <h6 class="text-primary">Jobs Professions</h6>
  <p class="text-muted">All professions related with parlour/saloon are categorized for jobs.</p>
  <ul class="list-group">
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <span class="text-muted">ABC</span>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <span class="text-muted">XYZ</span>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <span class="text-muted">ABC</span>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <span class="text-muted">XYZ</span>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <span class="text-muted">ABC</span>
    </li>
  </ul>
</div>